@model NGOManagementSystem.Models.DonorDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DonorDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonorInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonorInfo.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Payments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Payments.PaymentMethods)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrderDetailId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
