@model IEnumerable<NGOManagementSystem.Models.DonorDetail>

@{
    ViewData["Title"] = "Index";
}

@*<h1>Index</h1>*@

<p>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr style="background-color:lightblue">
            <th>
                @Html.DisplayNameFor(model => model.donorInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paytms)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr style="background-color:lightgray">
            <td>
                    @Html.DisplayFor(modelItem => item.donorInfo.DonorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paytms.PaytmMethods)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.OrderDetailId">Edit</a> |*@
                    <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.OrderDetailId">Details</a> 
                @*<a asp-action="Delete" asp-route-id="@item.OrderDetailId">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
<div class="btn btn-dark">
    <a asp-area="Donor" asp-controller="Payments" asp-action="Create" style="color:white">Next</a>
</div>