@model IEnumerable<NGOManagementSystem.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr style="background-color:lightblue">
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr style="background-color:lightgray">
            <td  >
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> |*@
                    <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.CategoryId">Details</a> 
                @*<a asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
