@model NGOManagementSystem.Models.Payment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Payment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonorInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonorInfo.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountNO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IFSC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IFSC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paytms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paytms.PaytmMethods)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DonorDetailId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
