@model IEnumerable<NGOManagementSystem.Models.Payment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DonorInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountNO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IFSC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paytms)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DonorInfo.DonorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IFSC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paytms.PaytmMethods)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DonorDetailId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DonorDetailId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DonorDetailId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
