@model IEnumerable<NGOManagementSystem.Models.Paytm>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-dark" asp-action="Create">Create New</a>
</p>
<br/>
<table class="table">
    <thead>
        <tr style="background-color:lightblue">
            <th>
                @Html.DisplayNameFor(model => model.PaytmMethods)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr style="background-color:lightgray">
            <td>
                @Html.DisplayFor(modelItem => item.PaytmMethods)
            </td>
            <td>
                    <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.PaytmId">Edit</a> |
                    <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.PaytmId">Details</a> |
                    <a class="btn btn-dark" asp-action="Delete" asp-route-id="@item.PaytmId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
